/* ///////////////////////// SETTING ///////////////////////// */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #f9f9f9;
}

section {
  display: block;
  margin-bottom: 14rem;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  color: #1e1e1e;
}

p {
  font-family: 'Nunito Sans', sans-serif;
  color: #575755;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8;
}

li {
  list-style: none;
}

.method-margin-bottom {
  padding-bottom: 4rem;
}

.header {
  margin-bottom: 1.4rem;
}

.side-margin {
  margin: 0 42rem;
}

.side-nav-lists {
  font-family: baskerville-urw, serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  gap: 1.6rem;
  list-style: none;
  text-align: left;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.2rem;
}

.side-nav-list {
  font-family: baskerville-urw, serif;
  align-items: center;
}

.side-nav-link {
  font-family: baskerville-urw, serif;
  font-size: 1.3rem;
  font-weight: 400;
}

.side-nav-link:link,
.side-nav-link:visited {
  text-decoration: none;
  color: #929286;
  transition: all 0.08s ease-in-out;
}

.side-nav-link:hover,
.side-nav-link:active {
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  color: #eb6641;
  cursor: pointer;
  transition: all 0.08s ease-in-out;
}

.side-nav-icon {
  height: 0.8rem;
  width: 0.8rem;
  padding-right: 0.8rem;
}

.link:link,
.link:visited {
  text-decoration: none;
  font-weight: 500;
  color: #575755;
  transition: all 0.08s ease-in-out;
}

.link:hover,
.link:active {
  text-decoration: none;
  color: #eb6641;
  transition: all 0.08s ease-in-out;
}

.logo {
  display: block;
  width: 18%;
}

.footer-logo {
  display: block;
  width: 35%;
}

/* //////////////// ITERATIVE STYLES ////////////////*/

blockquote {
  margin: 0 0 10px 0;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  font-size: 18px;
  line-height: 22px;
}

.update-highlight {
  color: #eb6641;
}

.highlight-sentence {
  background-color: rgba(212, 212, 203, 50%);
  font-weight: 600;
  /* background-color: rgba(232, 121, 86, 0.5); */
}

.capitalize {
  text-transform: capitalize;
}

.section-method {
  margin-bottom: 10rem;
}

.section-divider {
  background-color: #e9e9e3;
  display: block;
  padding: 4.4rem;
  margin-top: 10rem;
}

.section-divider-design {
  background-color: #e9e9e3;
  display: block;
  padding: 4.4rem;
  margin-top: 3rem;
}

.divider-design {
  padding-left: 42rem;
  padding-right: 42rem;
}

.divider-sentence-sub {
  display: block;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.6;
  color: #575755;
  text-transform: capitalize;
}

.divider-sentence {
  color: #575755;
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 3.2rem;
  /* margin-bottom: 2.4rem; */
}

.divider-sentence-social {
  color: #f9f9f9;
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 3.2rem;
}

.section-divider-2 {
  background-color: #929286;
  display: block;
  padding: 4.4rem;
  margin-top: 10rem;
}

.section-method {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.hmw {
  font-family: baskerville-urw, serif;
  font-size: 4.8rem;
  display: block;
  padding-bottom: 4.4rem;
  padding-top: 0.8rem;
}

.title-padding-bottom {
  margin-bottom: 2rem;
}

.section-method-blocks {
  display: flex;
  justify-content: space-between;
}

.section-method-block {
  display: block;
}

.section-name {
  font-family: baskerville-urw, serif;
  color: #eb6641;
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 3.2rem;
  margin-top: 10rem;
  /* position: sticky;
  top: 0; */
}

.section-name-design {
  font-family: baskerville-urw, serif;
  color: #eb6641;
  font-size: 2rem;
  font-weight: 800;
  margin-top: 14rem;
}

.ux-method {
  font-family: 'Montserrat', sans-serif;
  color: #1e1e1e;
  font-size: 2.8rem;
  font-weight: 800;
  padding-bottom: 1.2rem;
  text-transform: capitalize;
}

.ux-method-blocks {
  padding-bottom: 9.6rem;
}

.ux-method-block {
  display: block;
  margin-bottom: 6.4rem;
}

.ux-method-sub-block {
  display: block;
  margin-bottom: 3.2rem;
}

.ux-method-infos {
  display: flex;
}

.ux-method-info {
  font-family: 'Nunito Sans', sans-serif;
  display: block;
  /* margin-right: 1.2rem; */
  padding-bottom: 1.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8;
}
.ux-method-info-paragraph {
  font-family: 'Nunito Sans', sans-serif;
  padding-bottom: 1.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4;
}

.list-info {
  font-family: 'Nunito Sans', sans-serif;
  margin-right: 1.2rem;
  padding-bottom: 1.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4;
}

.link {
  font-size: 1.4rem;
  font-weight: 500;
}

.storytelling-summary,
.ux-method-summary {
  font-size: 1.6rem;
  font-weight: 500;
}

.excerpt-source {
  color: #8d8d8d;
  font-size: 1.2rem;
  font-weight: 500;
}

.italic {
  font-style: italic;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.button {
  margin-right: 8px;
  margin-bottom: 4px;
  padding: 6px 10px;
  border-radius: 20px;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
}

/* /////////////// PROJECT //////////////////////*/

.section-project {
  padding-bottom: 4rem;
}

.project-header-title-info {
  display: block;
  margin: 0 10rem;
}

.project-header-img {
  margin: 0;
  width: 100%;
  height: auto;
  /* margin-bottom: 4rem; */
}

.section-project {
  display: block;
  background-color: #eb6641;
  object-fit: cover;
  width: 100%;
}

.project-title-blocks {
  display: block;
  margin-bottom: 4.8rem;
  margin-top: 4.8rem;
}

.project-info-blocks {
  display: flex;
}

.project-info-block {
  display: block;
  margin-right: 7.8rem;
}

.project-info {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 0.8rem;
}

.project-info-details {
  color: #1e1e1e;
  font-size: 1.4rem;
  font-weight: 600;
}

.title-link {
  color: #1e1e1e;
  text-decoration: none;
}

.title-link:hover,
.title-link:active {
  font-weight: bold;
}

.project-info-roles {
  display: block;
  width: 48rem;
}

.project-focus-areas {
  display: flex;
  /* margin-right: 2.4rem; */
}

.project-focus-area {
  display: block;
  font-size: 1.2rem;
}

.project-maintitle {
  font-family: baskerville-urw, serif;
  font-weight: 900;
  font-style: normal;
  font-size: 4.4rem;
  margin-bottom: 1.4rem;
}

.project-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.4rem;
}

.project-hashtags {
  display: flex;
}

.project-hashtag {
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
  display: block;
  margin-right: 2rem;
}

.anchor-to-paper {
  text-decoration: none;
  font-family: baskerville-urw, serif;
  font-weight: 500;
  font-size: 2rem;
  padding: 2rem;
  display: block;
  background-color: #e9e9e3;
}

.paper-link:link,
.paper-link:visited {
  text-decoration: underline;
  background-color: antiquewhite;
  color: #eb6641;
}

.paper-link:hover,
.paper-link:active {
  color: #eb6641;
}

.subtitle-margin-top {
  margin-top: 2.8rem;
}

.subtitle-margin-bottom {
  display: block;
  margin-bottom: 3.2rem;
}

/* ///////////////////////// OVERVIEW /////////////////////////*/

section {
  margin-bottom: 10rem;
}
/* .section-overview {
  display: block;
  margin-bottom: 16rem;
} */

.prototype-youtube {
  text-align: center;
}

.overview-blocks {
  display: flex;
}

.overview-block {
  display: block;
  margin-right: 2.4rem;
}

.subtitle {
  font-family: 'Nunito Sans', sans-serif;
  text-transform: capitalize;
  color: #1e1e1e;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.references {
  font-family: 'Montserrat', sans-serif;
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.8;
}

/* ///////////////////////// CONTEXT /////////////////////////*/

.context-news,
.context-trend {
  display: block;
  margin-bottom: 8rem;
}

.context-trend {
  display: block;
  margin-bottom: 12rem;
}

.context-images {
  display: flex;
  margin: 0 auto;
}

.context-img {
  width: 25rem;
  height: 20rem;
  margin-right: 2.4rem;
}

.intro-sentence {
  color: #1e1e1e;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.intro-sentence-sub {
  margin-bottom: 1.2rem;
  color: rgb(30, 30, 30);
  font-size: 1.8rem;
  font-weight: 500;
}

.storytelling-block {
  margin-bottom: 8rem;
}

.storytelling-intro {
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 6.4rem;
}

.storytelling-sentence {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 1.2rem;
}

.storytelling-summary-sub {
  font-size: 1.6rem;
  font-weight: 500;
}

.storytelling-sentence-sub {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 6.4rem;
}

.storytelling-summary {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.5;
}

.lists {
  display: block;
  font-size: 1.4rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  line-height: 1.6;
}

.list {
  list-style: square;
  color: #575755;
}

.list-nostyle {
  list-style: none;
  color: #575755;
}

.rm-logo {
  display: block;
  margin-right: 4rem;
  width: 10%;
  height: 10%;
}

.rm-explain {
  display: flex;
  margin-right: 2.4rem;
  margin-left: 6.4rem;
}

.search-trend {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 0.8rem;
}

.key-block {
  display: block;
  margin-top: 5rem;
}

.solution-block {
  display: block;
  margin-top: 8rem;
}

.but-how {
  display: block;
  margin-bottom: 10rem;
  text-transform: capitalize;
  color: rgb(30, 30, 30);
  font-size: 2rem;
  font-weight: 500;
}

.trust-work {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 0.8rem;
}

.design-storytelling-sentence {
  font-size: 2.4rem;
  text-align: center;
  color: #1e1e1e;
  margin-top: 4rem;
}

/* /////////////// THEORY /////////////// */

/* Previous... */

.project-maintitle {
  font-size: 4.4rem;
  font-weight: 800;
}

.pdf-button {
  display: block;
  padding: 3rem;
}

.content-overview {
  display: block;
  margin-bottom: 3.6rem;
}

.overview-title {
  font-size: 2.4rem;
}

.overview-details {
  margin-bottom: 2.4rem;
}

.storytelling-sentence-sub {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.6;
}

.diagram-img {
  display: block;
  margin: 0 auto;
}

.emotions {
  margin-bottom: 6.4rem;
  margin-top: 4rem;
}

.theory {
  display: block;
}

.trust-infos {
  text-align: center;
}

.trust-info {
  font-family: 'Nunito Sans', sans-serif;
  margin-right: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4;
}

/* .number-span {
  font-style: italic;
  font-size: 4.4rem;
} */

/* RESEARCH METHODOLOGY */

.user-community {
  margin-top: 4rem;
}

.qna {
  display: block;
}

.qna-samples-img {
  display: block;
  margin: 4rem auto;
  width: 100%;
}

.participant-info-block {
  display: block;
  padding: 1.4rem;
}

/* /////////////// PRODUCT ANALYSIS ///////////////*/

.intended-process-img {
  width: 60%;
  display: block;
  margin: 4rem auto;
}

.current-features-img {
  width: 100%;
  display: block;
  margin: 4rem auto;
}
/* /////////////// REDESIGN ///////////////*/
.dantec-process-block {
  margin-top: 8rem;
}

.dantec-processes {
  display: block;
  padding-left: 6.4rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

.dantec-process {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: capitalize;
  color: #575755;
}

.dantec-title {
  font-weight: 800;
}

/* .steps-block {
  display: block;
  padding-bottom: 4rem;
  padding-top: 4rem;
  background-color: #e9e9e3;
  padding-left: 4rem;
} */

.button-grid {
  display: grid;
  row-gap: 6.4rem;
  column-gap: 3.2rem;
  grid-template-columns: 2fr 6fr;
}

.button-grid-alt {
  display: grid;
  row-gap: 6.4rem;
  /* column-gap: 3.2rem; */
  grid-template-columns: 2fr 6fr;
}

.button-sentence {
  margin-bottom: 0.4rem;
}

.button-margin-bottom {
  margin-bottom: 3.2rem;
}

.button-margin-top {
  margin-top: 3.2rem;
}

.button-title {
  font-family: 'Nunito Sans', sans-serif;
  text-transform: capitalize;
  color: #1e1e1e;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  line-height: 1.4;
}

/* .nextbutton-margin-left {
  margin-left: 4rem;
} */

.category-button {
  margin-right: 8px;
  margin-bottom: 4px;
  padding: 6px 10px;
  border-radius: 20px;
  background-color: #e9e9e3;
  color: #1e1e1e;
  font-size: 1.1rem;
  font-weight: 500;
}

.user-psych-button {
  background-color: #e26d4c;
  color: #f9f9f9;
}
/* 
.technical-button {
  background-color: #7faed2;
} */

.design-button {
  background-color: #eb6641;
  color: #f9f9f9;
}

.comments-flexbox {
  display: flex;
}

.comments-block {
  display: block;
  width: 50%;
  margin-right: 4rem;
}

.comments-block-sole {
  display: block;
  width: 60%;
  margin: 0 auto;
}

.painpoint {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  color: #1e1e1e;
  margin-bottom: 1.4rem;
}

.painpoint-margin-top {
  margin-top: 6.4rem;
}

.interview-quotes {
  display: block;
}
.interview-quote {
  font-style: italic;
}

.flexbox {
  display: flex;
}

.painpoint-5-img {
  display: block;
  /* width: 80%; */
  margin: 0 auto;
}

.design-screen {
  display: block;
  width: 55%;
  height: 55%;
}

.design-prototype {
  display: block;
  width: 50%;
  height: 50%;
}

.comment4 {
  display: flex;
}

.comment-4-img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.comment-5-img {
  display: block;
  width: 50%;
  height: 50%;
}

.grid-touchpoint-1 {
  display: grid;
  row-gap: 6.4rem;
  column-gap: 2rem;
  grid-template-columns: 2fr 6fr;
}

/* .grid-touchpoint-2 {
  display: grid;
  row-gap: 6.4rem;
  column-gap: 2rem;
  grid-template-columns: 7.5fr 0.5fr;
} */

.ceo-quote {
  font-size: 2.4rem;
  font-style: italic;
}

/* /////////////// PORTFOLIO ///////////////*/
.wireframe-img {
  margin-bottom: 2rem;
}

.paragraph-margin-bottom {
  margin-bottom: 1.2rem;
}

/* /////////////// REFLECTION ///////////////*/

/* /////////////// CONCLUSION */

.conclusion-grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
  grid-template-columns: 5fr 3fr;
}

.company-img {
  display: block;
  border-radius: 16px;
}

.conclusion-paragraph {
  display: block;
  margin-right: 4rem;
}

.other-articles-links {
  display: flex;
  margin-bottom: 1rem;
}

.other-articles-link:link,
.other-articles-link:visited {
  text-decoration: underline;
  font-weight: 800;
  font-size: 1.8rem;
  color: #eb6641;
  transition: all 0.08s ease-in-out;
}

.other-articles-link:hover,
.other-articles-link:active {
  text-decoration: underline;
  background-color: antiquewhite;
  color: #eb6641;
  cursor: pointer;
  transition: all 0.08s ease-in-out;
}
