/* //////// Section Header /////////// */

/* .blog-header {
  background-color: #5e5e5e;
} */

.writing {
  margin: 12rem 9.6rem;
}

.header {
  margin-bottom: 3.2rem;
}

.writing-header-margin {
  display: block;
  margin-bottom: 9.2rem;
  width: 50%;
}

.heading-secondary {
  display: block;
  font-size: 3.2rem;
}

/* //////// Writing Section /////////// */

.writing-sections {
  margin: 0 8rem;
}

.writing-section {
  display: block;
  margin-bottom: 16rem;
}

.writing-section-name {
  color: #575755;
  display: block;
  font-family: baskerville-urw, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
  /* text-align: right; */
}

hr {
  border: dashed 1px #575755;
  width: 35%;
}

.writing-block {
  display: block;
  margin-bottom: 3.2rem;
}

.writing-title {
  display: block;
  font-size: 4rem;
  margin-bottom: 2.4rem;
}

.writing-link:link,
.writing-link:visited {
  color: #1e1e1e;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.08s ease-in;
}

.writing-link:hover,
.writing-link:active {
  color: #ffe45e;
  -webkit-text-stroke: 0.1rem black;
  cursor: pointer;
  text-decoration: none;
}

.writing-info {
  display: block;
  width: 100%;
  color: #1e1e1e;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
  padding-bottom: 0.8rem;
  font-family: 'Nunito Sans', sans-serif;
}

.writing-title-small {
  display: block;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.section-name-pronounce {
  display: block;
  font-family: baskerville-urw, serif;
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
}

.section-name-definition {
  font-family: baskerville-urw, serif;
  font-weight: 400;
  font-style: normal;
}

/* .section-header-img {
  width: 40%;
  border: 5px solid #c5c1b7;
} */

.project-info {
  font-size: 1.2rem;
  font-weight: 300;
}

/* 
.project-box {
  display: flex;
  text-decoration: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.06);
  justify-content: space-between;
  padding: 3.6rem;
  border-radius: 2.4rem;
  margin-bottom: 9.6rem;
} */

/* .project-box:hover {
  transform: scale(1.01);
} */

.brand-link:link,
.brand-link:visited {
  color: #575755;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.08s ease-in;
}

.brand-link:hover,
.brand-link:active {
  color: #ff6392;
  cursor: pointer;
  transition: all 0.08s ease-in;
}

/* Images */
.writing-img {
  background-image: url('../assets/images/img-frame.png');
  width: 60%;
  max-width: 100%;
  height: auto;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-img {
  position: relative;
  text-align: center;
}
