body {
  background-color: #F5F5F5;
}

section {
  display: block;
  margin-bottom: 14rem;
}

.about-title {
  font-size: 6.4rem;
  font-weight: 700;
  text-align: center;
}

.about-flexbox {
  display: flex;
  margin: 6rem 24.3rem auto 24.3rem;
  column-gap: 6rem;
}

.about-img {
  max-width: 40%;
  max-height:40%;
}

.about-text {
  max-width: 427px;
  font-size: 1.4rem;
  line-height: 2.8rem;
}