.content {
  margin-top: 24rem;
}

.logo {
  display: block;
  width: 18%;
}

.footer-logo {
  display: block;
  width: 35%;
}

.alert-message {
  display: block;
  font-size: 8.6rem;
  font-style: italic;
  text-align: center;
  margin-bottom: 4.8rem;
}

.alert-message-details {
  display: block;
  font-size: 4.4rem;
  font-style: italic;
  text-align: center;
}
