/* .arrow-icon {
    display: block;
    align-items: center;
    justify-content: center;
} */


/* ************************************ */
/*  Header  */
/* ************************************ */

.hero-1 {
  font-size: 12.8rem;
  font-weight: 800;
  text-align: center;
}

.hero-2 {
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.4rem;
}

.hero-3 {
  font-size: 1.4rem;
  line-height: 2.8rem;
  text-align: center;
  margin-left: 36.5rem;
  margin-right: 36.5rem;
}

.hero-img {
  display: block;
  margin: auto auto 1.6rem auto;
  max-width: 300px;
}

.hero-4 {
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
  font-style: italic;
  margin-bottom: 1.6rem;
}

.hero-quote {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 6rem;
}

.buttons-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 6rem;
  margin-bottom: 24rem;
}

.home-button:link,
.home-button:visited {
  color: #000000;
  text-decoration: none;
  transition: all 0.08s ease-in;
  padding: 2rem 3.2rem;
  border:0.1em solid #000000;
  background-color: #FFFFFF;
}

.home-button:hover,
.home-button:active {
  text-decoration: none;
  font-weight: 500;
  background-color: #F161FE;
}

/* ************************************ */
/*  Featured Work  */
/* ************************************ */

.section-portfolio {
  margin-bottom: 24rem;
}

.section-name-projects {
  font-size: 6.4rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 12rem;
}

.project-content {
  background-color: #000000;
  margin: auto 12rem;
  margin-bottom: 12rem;
}

.project-title {
  font-size: 4.8rem;
  font-weight: 700;
  color: #E0E0E0;
}

.project {
  font-family: 'Helvetica', sans-serif;
  text-decoration: none;
}

.project-role {
  font-family: 'Helvetica', sans-serif;
  color: #E0E0E0;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.project-details {
  font-size: 1.2rem;
  font-weight: 300;
  color: #E0E0E0;
  line-height: 2.4rem;
  display: block;
  margin-right: 6rem;
}

/* ************************************ */
/*  CONNECT WITH ME  */
/* ************************************ */

.sns-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 6rem;
  margin-bottom: 3rem;
}

.section-name-connect {
  font-size: 6.4rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 3rem;
}

.connect-details {
  text-align: center;
}

.connect-detail {
  font-size: 1.2rem;
  line-height: 2rem;
}

.connect-link {
  color: #000000;
}

.connect-link:link,
.connect-link:visited {
  color: #000000;
  text-decoration: none;
  font-weight: 300;
  transition: all 0.08s ease-in;
}

.connect-link:hover,
.connect-link:active {
  text-decoration: none;
  color: #F161FE;
}


.button {
  border: 0;
  outline: 0;
}

.button-link {
  color: #000000;
}

.button-link:link,
.button-link:visited {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.08s ease-in;
}

.button-link:hover,
.button-link:active {
  text-decoration: none;
  color: #F161FE;
}